*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: pink;
  height: 100%;
}

form {
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  justify-content: center;
  align-items: center;
}

input {
  width: 400px;
  padding: 10px;
  margin: 10px 0px;
  flex-basis: 1;
  font-size: 24px;
}

label {
  margin: 10px 0px;
  font-size: 24px;
}

form button {
  padding: 16px 24px;
  margin: 10px 0;
  width: 150px;
  font-size: 20px;
}

button {
  width: 70px;
  font-size: 20px;
}

body {
  display: flex;
  flex-direction: column-reverse;
  border: 1px rgb(41, 41, 41) solid;
  padding: 0px;
  overflow-y: scroll;
  margin: 10px;
}

.floor {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 0.5px blue solid;
}

.control {
  background-color: white;
  display: flex;
  width: 100px;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  background-color: red;
}

.control button {
  width: 90%;
  height: 40px;
}

.standing-area {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  position: relative;
  background-color: pink;
}

.lift {
  overflow-x: hidden;
  width: 100px;
  height: 180px;
  background-color: rgba(0, 0, 0, 0.793);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.door {
  height: 100%;
  width: 100%;
  background-color: rgb(171, 203, 247);
  pointer-events: none;
}

.generate {
  padding: 8px 12px;
  margin: 10px 0;
  width: 150px;
  font-size: 16px;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: -20px;
  text-align: center;
}
/* .door-left-animation {
  animation-name: left-door-animation;
  animation-duration: 5s;
}
.door-right-animation {
  animation-name: right-door-animation;
  animation-duration: 5s;
} */

/* door animations */
@keyframes left-door-animation {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes right-door-animation {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0px);
  }
}

@media screen and (max-width: 520px) {
  .control {
    display: flex;
    width: 50px;
    justify-content: center;
    gap: 5px;
  }
  .control button {
    width: 40px;
    font-size: 13px;
  }

  .lift {
    width: 30px;
  }

  form {
    width: 70%;
  }

  input {
    width: 70%;
    padding: 10px;
    margin: 10px 0px;
    flex-basis: 1;
    font-size: 16px;
  }

  label {
    margin: 10px 0px;
    font-size: 16px;
    text-align: center;
  }

  form button {
    padding: 16px 24px;
    margin: 10px 0;
    width: 150px;
    font-size: 20px;
  }

  button {
    width: 70px;
    font-size: 20px;
  }
}
