*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

form {
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  justify-content: center;
  align-items: center;
}

input {
  width: 400px;
  padding: 10px;
  margin: 10px 0px;
  flex-basis: 1;
  font-size: 24px;
}

label {
  margin: 10px 0px;
  font-size: 24px;
}

form button {
  padding: 16px 24px;
  margin: 10px 0;
  width: 150px;
  font-size: 20px;
}

button {
  width: 70px;
  font-size: 20px;
}

.building {
  display: flex;
  flex-direction: column-reverse;
  width: 90vw;
  height: 80vh;
  margin-top: 60px;
  border: 1px rgb(41, 41, 41) solid;
  /* padding: 5px; */
  overflow-y: scroll;
}

.floor {
  width: 100%;
  min-height: 150px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.control {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: max-content;
  height: 100%;
  gap: 5px;
}

.standing-area {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  border-block: 2px blue solid;
  position: relative;
}

.lift {
  overflow-x: hidden;
  width: 100px;
  height: 140px;
  background-color: rgba(0, 0, 0, 0.793);
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.door {
  height: 100%;
  width: 100%;
  background-color: rgb(171, 203, 247);
  pointer-events: none;
}

.lift:hover {
  border: 2px rgba(116, 138, 116, 0.613) solid;
  box-sizing: border-box;
}

/* .door-left-animation {
  animation-name: left-door-animation;
  animation-duration: 5s;
}
.door-right-animation {
  animation-name: right-door-animation;
  animation-duration: 5s;
} */

/* door animations */
@keyframes left-door-animation {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes right-door-animation {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0px);
  }
}
